<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <img src="../assets/logo.png" alt="logo" height="50" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <a href="http://www.google.com" target="_blank">
    <img src="../assets/division-icon.png" />
  </a>
</ion-content>
<!-- <ion-content fullscreen>
  <ion-card style=" text-align: center;">
    <img src="../assets/division-icon.png" />
    <ion-card-header>
      <ion-card-title>DIVIDIR GASTOS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Usá esta opción para calcular exactamente lo que consumió cada persona en la juntada.
    </ion-card-content>
  </ion-card>
</ion-content> -->