ion-header {
    ion-toolbar {        
        ion-title {
            background-repeat: no-repeat;
            background-position: 5px 3px;
            padding: 10px 0 0 0;
            text-align: center;
        }
    }
}



ion-content{
    
    margin:auto;
    text-align: center;
    position: relative;
    
    
    img{
        padding: 10%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);  
    
    }
    // ion-card{

    //     margin:auto;
    //     text-align: center;
    //     max-height: 500px ;
    //     max-width: 500px;
    //     padding-top: 10%;
    
    //     ion-card-header{
    //         ion-card-title{
    //             text-align: center;
    //         }
    //     }

    // }
}